select.filter, input {
    width: 200px;
    font-size: 20px;
}
.wrapper{
    width: 100%;

}

div.avatar{
    width: 100%;
    border: 1px solid transparent;
}
div.avatar:hover{
    border: 1px dashed silver;
}
div.avatar img{
    display: block;
    margin: 0 auto;
}

.layout {
    min-height: 100vh;
    width: 100%;
    background: #555555;
}

.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #e9e9e9;
}
.table_container{
    padding: 40px;
}
.auth_container{
    position: relative;
    top: 100px;
    width: 600px;
    margin: 0 auto;
    background: #e7e7e7;
    padding: 40px;
}

table, tr, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    margin: 50px 0;
    width: 100%;
}

thead th {
    line-height: 25px;
    position: sticky;
    top: -2px;
}

.leftText {
    text-align: left;
}

.leftRight {
    text-align: right;
}

tr:hover {
    background: aqua;
}

th {
    text-transform: uppercase;
    background: #ededed;
    color: #555;
}

th a {
    color: #000fbc;
    text-decoration: none;
    padding: 5px 10px;
}

th span {
    color: #555;
    font-size: 1.1em;
}

p, center {
    margin: 0 auto;
    width: 200px;
}